<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://wixtoolset.org/schemas/v4/wxs https://raw.githubusercontent.com/wixtoolset/web/master/src/xsd4/wix.xsd">
    <Package Name="Nextcloud Talk Client" Version="1.0.0.0" Manufacturer="Example Corporation" UpgradeCode="b321a690-9456-4dff-b601-5867098fa481">
        <Files Include="extracted/NextcloudTalk/**" />
    </Package>
</Wix>
