<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="NextcloudTalk" Language="1033" Version="0.38.0" Manufacturer="Nextcloud" UpgradeCode="f097fad6-8020-4abb-b0ca-a2e06f29de02">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="ProductFeature" Title="NextcloudTalk" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="AutoStartEntry" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Nextcloud Talk">
          <Component Id="ProductComponents" Guid="*">
            <HarvestDirectory Directory="$(var.HarvestDir)" SuppressRootDirectory="yes" ComponentGroupName="HarvestedComponents" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Nextcloud Talk" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Nextcloud Talk" Description="Start Nextcloud Talk" Target="[INSTALLFOLDER]Nextcloud Talk.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\NextcloudTalk" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Component Id="AutoStartEntry" Guid="*" Directory="INSTALLFOLDER">
      <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="NextcloudTalk" Type="string" Value="&quot;[INSTALLFOLDER]Nextcloud Talk.exe&quot;" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
